<!DOCTYPE html>
<html  xmlns="http://www.thymeleaf.org">
	<head>
		<title>
			homepage
		</title>
		<style>
			body {
				text-align: center;
			}
		</style>
	</head>
	
	<body>
		
		<h2>USER MANGEMENT APPLICACTION..</h2>
		<h3> Welcome to the User Mangement Application .. </h3>
		
		<a href="/#"> Home </a>  &nbsp;&nbsp;| &nbsp;&nbsp;
		<a href="/login"> LogIn </a>&nbsp;&nbsp;  | &nbsp;&nbsp;
		<a href="/register"> Register </a>&nbsp;&nbsp;  | &nbsp;&nbsp;
		<a href="/users"> User </a>
	</body>
</html>